.wrap{
    width: 140px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 55px;
    background-color: azure;
    display: flex;
}
.input{
    font-size: 10px;
}
.btn{
    padding: 5px;
    color: yellow;
    background-color: darkslateblue;

}
.btn:hover{
    background-color: aqua;

}
.error {
    border-color: red;
}
